@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #E89F3A;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #E89F3A;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #E89F3A;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C53051;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #C53051;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #C53051;
  }
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.container-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(118,58,232);
    background: linear-gradient(0deg, rgba(118,58,232,1) 0%, rgba(61,58,232,1) 42%, rgba(58,165,232,1) 100%); 
    z-index: 100000;
    overflow-y: hidden;
    transition: all 2s;
    opacity: 1;
    visibility: visible

}
.logo_loader {
    width: 12vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: loader_logo 1s infinite alternate;
}
@keyframes loader_logo {
    from {
        filter: drop-shadow(0px 0px 0px rgba(255,255,255, 0.5));
    }
    to {
        filter: drop-shadow(0px 0px 7px rgba(255,255,255, 0.5));
    }
}

div.loader {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:0px;
    height:0px;
    border-radius: 0;
    opacity:0;
    border:5px solid white;
    animation:anim 4s infinite linear;
}
.circle-left > .loader, .circle-right > .loader {
    border-radius: 100%;
    border:5px solid #E75B65;
    animation:anim2 4s infinite linear;
}
@keyframes anim {
0% {
    opacity:0.0;
    width: 0vmin;
    height:0vmin;
}
10% {
    opacity:1;
}
100% {
    opacity:0.0;
    width:100vmin;
    height:100vmin;
}
}
@keyframes anim2 {
0% {
    opacity:0.0;
    width: 0;
    height:0;
}
10% {
    opacity:1;
}
100% {
    opacity:0.0;
    width:100%;
    height:100%;
}
}

div.loader:nth-child(1) { animation-delay:200ms; }
div.loader:nth-child(2) { animation-delay:400ms; }
div.loader:nth-child(3) { animation-delay:600ms; }
div.loader:nth-child(4) { animation-delay:800ms; }
div.loader:nth-child(5) { animation-delay:1000ms; }
div.loader:nth-child(6) { animation-delay:1200ms; }
div.loader:nth-child(7) { animation-delay:1400ms; }
div.loader:nth-child(8) { animation-delay:1600ms; }
div.loader:nth-child(9) { animation-delay:1800ms; }

.area{
    width: 100%;
    height:100vh;  
    position: fixed;
    top: 0;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;   
    border: 2px solid rgba(255, 255, 255, 0.3)
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
}





.app-page {
    width: 100vw;
    height: 120vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%); */
}
.app-text {
    font-family: 'Roboto', sans-serif;
    color: #E6E8E6;
    font-size: 25pt;
    width: 90%;
    text-align: center;
    animation: show 1.5s 1 ease;
    filter: drop-shadow(0 0 5px #E6E8E633);
    

}

.app-logo {
    margin-left: 2rem;
    /* filter: drop-shadow(0 8px 32px rgb(0, 0, 0, .37)); */
}
.app-btn {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    background: #E89F3A;
    border: #E89F3A;
    color: #E6E8E6;
    border-radius: 100px;
    padding: 1rem;
    filter: drop-shadow(0 0 5px #E89F3A);
    text-transform: uppercase;
    font-weight: 800;

}
.app-btn:hover {
    background: #FDCA40;
    border: #FDCA40;
}

.app-btn-header {
    width: 200px;
    margin-top: 80px;
}
.app-btn-navbar {
    margin-top: 0;
    margin-bottom: 0;

}
body {
    background: rgb(118,58,232);
    background: linear-gradient(0deg, rgba(118,58,232,1) 0%, rgba(61,58,232,1) 42%, rgba(58,165,232,1) 100%); 
}

.app-navbar {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    --bs-bg-opacity: 0.1;
}
.app-text-header {
    font-size: 25pt;
    width: 60%;
}
.app-img-1 {
    width: 50vw;
    position: absolute;
    bottom: 10%;
    right: -217px;
}
.app-img-2 {
    width: 75vw;
    position: absolute;
    bottom: -5%;
    left: -422px;
}
.app-img-3 {
    width: 35vw;
    position: absolute;
    top: 0;
    right: -70px;
}

.col-6 > .app-text {
    width: 100%;
}


.circle-left {
    width: 50vh;
    height: 50vh;
    background: #DF2935;
    -moz-border-radius:100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    filter: drop-shadow(0 8px 32px rgb(0, 0, 0, .37));
}
.circle-right {
    width: 50vh;
    height: 50vh;
    background: #DF2935;
    -moz-border-radius:100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    filter: drop-shadow(0 8px 32px rgb(0, 0, 0, .37));
}


.css_animation {
    animation: slideLeft 1s 5 ease;

    }
@keyframes slideLeft {
    from {
        transform: rotate(0deg) scale(1) skew(0deg) translate(-300px) ;
    }
    to {
        transform: rotate(0deg) scale(1) skew(0deg) translate(0px) ;
    }
}

@keyframes slideRight {
    from {
         transform: rotate(0deg) scale(1) skew(0deg) translate(300px) ;
    }
    to {
        -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0) ;
    }
}
.text-header-1 {
    /* animation: hideHeader 3.5s infinite linear alternate; */
    animation-delay: 0;
    display: block;
}
.text-header-2 {
    animation: showHeader 3.5s infinite linear alternate;
    animation-delay: 0;
    display: block;
    position: absolute;
    top: 0;
}
@keyframes show {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}
@keyframes hide {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}
@keyframes scale {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(110%);
    }
}

@keyframes showHeader {
    0% {
        opacity: 1;
        display: block;
    }
    20% {
        opacity: 1;
        display: block;
    }
    40% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes hideHeader {
    0% {
        opacity: 0;
        display: none;
    }
    50% {
        opacity: 0;
        display: none;
    }
    70% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
.bg-image-effect {
    position: absolute;
    width: 100vw;
    opacity: 0.1;
    mix-blend-mode: soft-light;
    filter: blur(5px);
}
.screen-1 {
    width: 55%;
    -webkit-perspective: 1000px
}
@media only screen and (max-width: 850px) {
    .bg-image-effect {
        
        width: unset;
        height: 100vh;
    }   
    .app-text-header {
        width: 90%;
        font-size: 21pt;
    }
    .screen-1 {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        font-size: 18pt;
        width: 80%;
    }
    .app-text {
        font-size: 18pt;
        width: 100%;
    }
    .circle-left {
        width: 20vh;
        height: 20vh;
        border-radius: 100%; 
    }
    .circle-right {
        width: 20vh;
        height: 20vh;
        border-radius: 100%;
    }
    #sw-js-blob-svg-1 {
        transform: scale(2.5) !important;
        top: 329px !important;
    }
    #sw-js-blob-svg {
        bottom: 260px !important;
        transform: scale(2) !important;
    }
    .app-img-1 {
        width: 60vh;
        bottom: 68px;
        right: -158px;
    }
    .app-img-2 {
        width: 60vh;
        bottom: 20px;
        left: -61px;
    }
    .app-img-3 {
        width: 45vh;
        top: 0;
        right: -63px;
    }
    .logo_loader {
        width: 40vw;
    }
    .app-text-center {
        top: 0px !important;
    }
    .nav-btn {
        margin-right: 0 !important;
    }
    .app-btn-navbar {
        width: 150px;
    }
    .container-more-top {
        top: 50% !important;
    }
}
@media only screen and (max-width: 850px) and (orientation: landscape) {
    #sw-js-blob-svg-1 {
        transform: scale(1.5) !important;
        bottom: -670px !important;
    }
    #sw-js-blob-svg {
        bottom: -160px !important;
        transform: scale(2) !important;
    }
    .bg-image-effect {
        width: 100vw;
        height: unset;
    }
    .app-img-1 {
        width: 100vh;
        bottom: 20px;
        right: -158px;
    }
    .app-img-2 {
        width: 100vh;
        bottom: 0px;
        left: -61px;
    }
    .app-img-3 {
        width: 55vh;
        top: 0;
        right: -63px;
    }
    .col-bottom {
        bottom: 0px !important;
    }   
    .col-bottom-2 {
        top: 100px !important;
    }
    .app-form > div.mb-3 {
        width: 40%;
        display: inline-block;
    }
    .app-form {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
    .screen-1 {
        width: 75% !important;
        padding-top: 100px;
    }
}